#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.centercard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerbutton button {
  flex: 0;
  margin: 0 5px; /* Adjust margin as needed */
  margin-top: 5px;
}
